.data-ux input[type="number"] {
  max-width: 5em;
}

.form-group {
  display: inline-block;
  margin: 0.25em;
}

.form-group label {
  padding-right: 0.5em;
}

.form-group > * {
  display: inline-block;
}

.data-dataset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.data-set-wrapper {
  display: table;
  margin: 0.5em 0;
  border: 1px solid rgba(0, 0, 0, 0.8);;
}

.data-set-wrapper .table-header,
.data-set-wrapper .data-point {
  display: table-row;
  width: 100%;
}

.data-set-wrapper .data-point:nth-child(2n) {
  background: #ccc;
}
.data-set-wrapper .data-point:nth-child(2n+1) {
  background: #eee;
}

.data-set-wrapper .table-header .table-column,
.data-set-wrapper .data-point > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0.25em;
}

.data-set-wrapper .table-header .table-column {
  vertical-align: bottom;
}

details.data,
details.options,
details.chart-preview {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.8);;
}



.chart-js-data-field-wrapper,
.chart-js-options-field-wrapper {
  display: none;
}
