{#
/**
 * @file
 * Default theme implementation for the Chart.js canvas and attaching the library.
 *
 * Available variables:
 * - width: the width set in the format setting.
 * - height: the height set in the format setting.
 * - uid: the uid of the field.
 * - type: the chart type for the field.
 * - data: the data object used by Chart.js.
 * - options: the options object used by the Chart.js.
 * - external: a boolean for whether to use the CDN.
 *
 * @ingroup themeable
 */
#}

{% if external %}
  {{ attach_library('chart_js_field/ext_mychart') }}
{% else %}
  {{ attach_library('chart_js_field/mychart') }}
{% endif %}

<canvas
  id="mychart-{{ uid }}"
  width="{{ width }}"
  height="{{ height }}"
  data-type="{{ type }}"
  data-data="{{ data }}"
  data-options="{{ options }}"></canvas>
